# ===== Camera =====
CAMERA_USERNAME=admin
CAMERA_PASSWORD=your_password_here
CAMERA_IP=192.168.1.100
RTSP_PATH=/h264/ch1/main/av_stream

# ===== Backend =====
ALERT_SERVER_URL=http://127.0.0.1:8000
ALERT_INTERVAL_SEC=60

# ===== GenAI =====
USE_LLM_ALERTS=false
OLLAMA_MODEL=llama3

# ===== Paths =====
DATASET_PATH=HMDB51
MODEL_SAVE_PATH=model/best_lstm_model_enhanced.pt
DATA_SAVE_PATH=data/processed_enhanced_joint_sequences_v2.pt
PLOTS_DIR=plots